/*PANEL*/

.panel-auth{
    border-color: rgb(0,160,0);
}

.panel-body-auth{
    font-size:18px;
}

.legend-auth{
    font-size: 15px;
}

/*overwritting*/
.panel-default>.panel-heading{
    font-size:25px;
    background-color: rgba(0,210,0,0.1);
    border-color: rgb(0,160,0);
    color:rgb(0,160,0);
}

/*BUTTON*/

.btn-form{
    background-color: rgba(0,160,0,0.8);
    border-color: rgb(0,160,0) ;
    font-size:18px;
}
.btn-form:hover{
    background-color: white;
    color : rgb(0,160,0);
    font-weight:bold;
    border-color: rgb(0,160,0) ;
}

/*LINK*/

.link{
    color: rgb(0,160,0);
    font-weight:bold;
}
.link:hover{
    color: black;
}