/*PROFILE AUTH*/
.legend-auth {
    font-size: 15px;
}

.profile-link {
    color: rgb(0, 160, 0);
    vertical-align: middle;
}

.profile-link:hover {
    color: black;
}

.form-horizontal .control-label{
    text-align: left;
}

.dolibarr-img{
    /*max-height: 25px;*/
    height: 25px;
    /*min-height:25px;*/
    width: auto;
font-size: 30px;
}

/*HOME*/

.menu-title{
    color: rgb(0, 160, 0);
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
}

.menu-legend{
    color: black;
    font-size: 18px;
}

.img-home{
    max-width: 170px;
    max-height:100px;
}
.home{
    margin-left:17px;
    margin-right:17px;
}