/*NAVBAR*/

.img-logo {
    display: inline;
    height: 50px;
}

.navbar-title{
    background-color: rgba(0,160,0,0.8);
}

.navbar-title-link{
    font-size: 23px;
    color: white;
}
.navbar-title-link:hover{
    color : black;
    font-weight:bold;}