/*NAVBAR*/

.img-logo {
    display: inline;
    height: 50px;
}

.navbar-title {
    background-color: rgba(0, 160, 0, 0.8);
    vertical-align: middle;
}

.navbar-title-link, .navbar-title-link:focus {
    font-size: 22px;
    color: white;
}

.navbar-title-link:hover {
    color: black;
    font-weight: bold;
}

.active, .active:focus {
    color:black ;
}
.active:hover{
    color:black;
}

.nonActive, nonActive:focus{
    color:white;
}
.nonActive:hover{
    color:white;
}

/*BUTTON*/

.btn-form, .btn-form:focus {
    background-color: rgba(0, 160, 0, 0.8);
    border-color: rgb(0, 160, 0);
    font-size: 18px;
}

.btn-form:hover {
    background-color: white;
    color: rgb(0, 160, 0);
    font-weight: bold;
    border-color: rgb(0, 160, 0);
}

/*LINK*/

.link, .link:focus, .link:active {
    color: rgb(0, 160, 0);
    font-weight: bold;
}

.link:hover {
    color: black;
}

/*PANEL AUTH*/

.panel-auth {
    border-color: rgb(0, 160, 0);
}

.panel-body-auth {
    font-size: 18px;
}

.legend-auth {
    font-size: 15px;
}

/*overwritting*/
.panel-default > .panel-heading {
    font-size: 25px;
    background-color: rgba(0, 210, 0, 0.1);
    border-color: rgb(0, 160, 0);
    color: rgb(0, 160, 0);
}

/*PROFILE*/

.btn-modal {
    font-size: 18px;
}

.profile-link {
    color: rgb(0, 160, 0);
    vertical-align: middle;
}

.profile-link:hover {
    color: black;
}

.text-alert {
    color: rgb(0, 160, 0);
    font-size: 18px;
    font-weight: bold;
}

/*HOME*/

.menu-title{
    color: rgb(0, 160, 0);
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
}

.menu-legend{
    color: black;
    font-size: 18px;
}

/*PALLETS*/

.table-pallets-container{
    margin-left:-90px;
    margin-right:-90px;
}
.table-pallets > thead {
    color: rgb(0, 160, 0);
    font-size:medium;
    border-color:rgb(0, 160, 0) ;
    border-style: solid;
}

.table-pallets > tbody {
    font-size:small;
    border-color:rgb(0, 160, 0) ;
    border-style: solid;
}

.table-pallets > thead > tr > th, .table-pallets > thead > tr > td, .table>tbody>tr>td, .table>tbody>tr>th {
    vertical-align: middle;
    border-color:rgb(0, 160, 0) ;
    border-style: ridge;
    height: 25px;
}

.table-pallets td >a {
    font-weight: bold;
}