/*NAVBAR*/

.img-logo {
    display: inline;
    height: 50px;
}

.navbar-logo{
     padding:0px;
     width:10%;
 }

.navbar-loading{
    padding:0px;
    width:131px;
}
.navbar-warehouse{
    padding:0px;
    width:161px;
}
.navbar-truck{
     padding:0px;
     width:121px;
 }

.navbar-accounts{
    padding:0px;
    width:197px;
}
.navbar-transfers{
    padding:0px;
    width:199px;
}


.navbar-size2{
    padding:0px;
    width:20%;
}

.navbar-title {
    background-color: rgba(0, 160, 0, 0.8);
    vertical-align: middle;
}

.navbar-title-link, .navbar-title-link:focus {
    font-size: 20px;
    color: white;
}

.navbar-title-link:hover {
    color: black;
    font-weight: bold;
}

.active, .active:focus {
    color:black ;
}
.active:hover{
    color:black;
}

.nonActive, nonActive:focus{
    color:white;
}
.nonActive:hover{
    color:white;
}

/*BUTTON*/

.btn-form, .btn-form:focus {
    background-color: rgba(0, 160, 0, 0.8);
    border-color: rgb(0, 160, 0);
    color:white;
    font-size: 18px;
}

.btn-form:hover {
    background-color: white;
    color: rgb(0, 160, 0);
    font-weight: bold;
    border-color: rgb(0, 160, 0);
}

.btn-modal {
    font-size: 18px;
}

.btn-add, .btn-add:focus, btn-add:active{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 160, 0);
    font-size: 18px;
    color:white;
    background-color: rgba(0, 160, 0, 0.8);
}

.btn-add:hover{
    color:rgb(0, 160, 0);
    background-color: white;
}

/*LINK*/

.link, .link:focus, .link:active {
    color: rgb(0, 160, 0);
    font-weight: bold;
    /*vertical-align: middle;*/
}

.link:hover {
    color: black;
}

/*PANEL*/

.subpanel{
    border-color:rgb(0, 160, 0);
    border-style:solid;
    border-width: 1px;
}

.subpanel:hover >div>a, .subpanel:focus >div>a, .subpanel:active >div>a{
    color: rgb(0, 160, 0);
}

.subpanel >div>a, .subpanel>div>div>a{
    color: black;
    font-size:20px;
}


.panel-general, .panel-default,.panelInprogress, .panelUntreated, .panelWaitingdocuments, .panelComplete  {
    border-color: rgb(0, 160, 0);
}

.panel-body-general {
    font-size: 18px;
}

.panel-general > .panel-heading  {
    font-size: 25px;
    border-color: rgb(0, 160, 0);
    color: rgb(0, 160, 0);
    background-color: rgba(0, 208, 0, 0.1);
}
.panel-general > .panel-heading >div>p >a{
    color: rgb(0, 160, 0);
    text-decoration: underline;
 }
.panelUntreated > .panel-heading{
    color:red;
    font-size: 25px;
    border-color: rgb(0, 160, 0);
    background-color: rgba(255, 0, 0, 0.1);
}
.panelUntreated > .panel-heading >div >p >a{
    color:red;
    text-decoration: underline;
 }
.panelInprogress > .panel-heading{
    color:rgba(255, 112, 0, 1);
    font-size: 25px;
    border-color: rgb(0, 160, 0);
    background-color: rgba(255, 112, 0, 0.3);
}
.panelInprogress > .panel-heading>div >p >a{
    color:rgba(255, 112, 0, 1);
    text-decoration: underline;
 }
.panelWaitingdocuments > .panel-heading {
    background-color: rgba(255, 208, 0, 0.3);
    color:rgba(255, 208, 0, 1);
    font-size: 25px;
    border-color: rgb(0, 160, 0);
}
.panelWaitingdocuments > .panel-heading>div>p>a{
    color:rgba(255, 208, 0, 1);
    text-decoration: underline;
}
.panelComplete > .panel-heading {
    background-color: rgba(192, 255, 0, 0.3);
    color:rgba(160, 208, 0, 1);
    font-size: 25px;
    border-color: rgb(0, 160, 0);
}
 .panelComplete > .panel-heading>div>p>a{
     color:rgba(160, 208, 0, 1);
     text-decoration: underline;
 }
/*!*overwritting*!*/
/*.panel-default > .panel-heading {*/
    /*background-color: rgba(255, 193, 197, 0.1);*/
/*}*/


.text-alert {
    color: rgb(0, 160, 0);
    font-size: 18px;
    font-weight: bold;
}

/*SORTING AND PAGINATE*/

.general-sorting{
    color:rgb(0, 160, 0);
}
.general-sorting:hover{
    color:black;
}

.general-legend{
    display: inline;;
}
.general-pagination{
    margin-top:10px;
}

.general-pagination> ul.pagination{
    display: inline;
}

.general-pagination > ul.pagination >li.active >span {
    background-color: rgba(0, 160, 0, 0.8);
    color: white;
    border-radius: 5px;
}

.general-pagination > ul.pagination >li >a, .loadings-pagination > ul.pagination >li >span{
    color: black;
    text-decoration: none;
}

.general-pagination > ul.pagination >li:not(.active) >a:hover, .loadings-pagination > ul.pagination >li:not(.active) >span:hover {
    background-color: rgba(0, 160, 0, 0.1);
    border-radius: 5px;
}


.noPadding{
    padding:0px;
}

/*SEARCH BAR*/

.searchBar{
    font-size: 16px;
}

.searchInput{
    width:250px;
    min-width:250px;
    max-width:250px;
}

.searchForm{
border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.searchCheckbox{
    width:500px;
    min-width:500px;
    max-width:500px;
}

.searchSelect{
    width:150px;
    min-width:150px;
    max-width:150px;
}

/*TABLE HOVER*/

.untreated{
    background-color: rgba(255, 0, 0, 0.1);
}

.waitingdocuments{
    background-color: rgba(255, 208, 0, 0.3);
}

.inprogress{
    background-color: rgba(255, 112, 0, 0.3);
}

.complete{
    background-color: rgba(192, 255, 0, 0.3);
}

.completevalidated{
    background-color: rgba(0, 255, 0, 0.2);
}