/*LOADINGS*/

.loadings-wrapper {
    width: auto;
    margin:-10px;
    overflow-x: scroll;
}

.table-loadings{
    margin-bottom:5px;
}

.table-loadings > thead {
    color: rgb(0, 160, 0);
    font-size:16px;
    border-color:rgb(0, 160, 0) ;
    border-style: solid;

}

.table-loadings > tbody {
    font-size:14px;
    border-color:rgb(0, 160, 0) ;
    border-style: solid;
}

.table-loadings > thead > tr > th, .table-loadings > thead > tr > td, .table-loadings > tbody > tr > th, .table-loadings > tbody > tr > td {
    vertical-align: middle;
    border-color:rgb(0, 160, 0) ;
    border-style: ridge;
}

.table-loadings td >a {
    font-weight: bold;
    color : rgb(0, 160, 0);
}

.col1 {
    position: absolute;
    overflow: hidden;
    z-index: 99;
    background-color: white;
    width: 90px;
    min-width: 90px;
    max-width: 90px;
    top: auto;
}
.col1b{
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

.colHeight{
    min-height:48px;
}

.colOrt, .colKenn{
    min-width:150px;
}
.colSubfra, .colZus{
    min-width:300px;
}
.colAufr{
    min-width:350px;
}
.colArt{
    min-width:50px;
}
.colDate{
    min-width:75px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding:3px;
}

/*LOADING*/

.details-loading > input{
    font-weight: normal;
    text-align: center;
    font-size:16px;
}

.details-loading > label{
    font-weight: bold;
    text-align: center;
    font-size:18px;
}

/*PALLETS*/

.modalHeaderTransfer>h4{
     font-size:20px;
     color:rgb(0, 160, 0);
     font-weight: bold;
 }

.modalBodyTransfer{
    font-size:16px;
}

