

.panel-palletsaccounts-details{
    font-size:18px;
}

.info-palletsaccounts{
    font-size:16px;
    vertical-align: middle;
}

/*PANELS*/

.panel-palletsaccounts{
    width:500px;
    padding:0px;
}

.panel-palletsaccounts>.panel-heading, .panel-palletsaccounts-details>.panel-heading{
    padding:5px;
}

.panel-palletsaccounts-details{
    width:600px;
    padding:0px;
    margin-left: 60px;
}

/*TABLE*/

.table-palletsaccounts{
    margin:-10px;
    font-size:18px;
}

.table-palletsaccounts>table>thead{
    display: inline-block;
    width: 100%;
}

.table-palletsaccounts>table>tbody{
     font-size:16px;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    display: inline-block;
 }

.colName1{
    min-width:312px;
    max-width: 312px;
}
.colType1{
    min-width:96px;
    max-width:96px;
}
.colTot1{
    min-width:408px;
    max-width:408px;
}

.colTotal1{
    min-width:60px;
    max-width:60px;
}

.text-inf0{
    color:rgba(255,0,0,0.8);
}
.text-egal0{
    color:rgba(255, 112, 0, 0.8);
}
.text-sup0{
    color: rgba(0, 160, 0, 0.8);
}

.table-palletsNumber tr>th{
    width:30%;
}

.colID{
    max-width: 55px;
    min-width:55px;
    width:55px;
}
.colPNumb{
    max-width: 90px;
    min-width:90px;
    width:90px;
}
.colDate{
    max-width: 90px;
    min-width:90px;
    width:90px;
}

.colType{
    max-width: 180px;
    min-width:180px;
    width:180px;
}
.col4 {
    max-width: 560px;
    min-width: 560px;
    width: 560px;
}

/*.colAtrnr{*/
    /*max-width: 50px;*/
    /*min-width:50px;*/
    /*width:50px;*/
/*}*/

.table-loading-account{
    margin:-10px;
}

.table-loading-account>table>thead{
    display: inline-block;
    width: 100%;
    font-size:18px;
}

.table-loading-account>table>tbody{
    font-size:16px;
    width: 100%;
    max-height: 450px;
    overflow: auto;
    display: inline-block;
}

.notCarrier{
    margin-left:25%;
    width:583px;
}

/*HIDDEN DIV*/
#warehousesAssociated, #trucksAssociated, #realNumberPallets1, #realNumberPallets2{
    display: none;
}



