

.panel-palletsaccounts-details{
    font-size:18px;
}

.info-palletsaccounts{
    font-size:16px;
    vertical-align: middle;
}

/*PANELS*/

.panel-palletsaccounts{
    width:500px;
    padding:0px;
}

.panel-palletsaccounts>.panel-heading, .panel-palletsaccounts-details>.panel-heading{
    padding:5px;
}

.panel-palletsaccounts-details{
    width:600px;
    padding:0px;
    margin-left: 60px;
}

/*TABLE*/

.table-palletsaccounts{
    margin:-10px;
    font-size:18px;
}

.table-palletsaccounts>table>thead{
    display: inline-block;
    width: 100%;
}

.table-palletsaccounts>table>tbody{
     font-size:16px;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    display: inline-block;
 }

.colName{
    min-width:312px;
    max-width: 312px;
}
.colType{
    min-width:96px;
    max-width:96px;
}
.colTot{
    min-width:408px;
    max-width:408px;
}

.colTotal{
    min-width:60px;
    max-width:60px;
}

.table-palletsNumber tr>th{
    width:30%;
}

.colID{
    max-width: 50px;
    min-width:50px;
    width:50px;
}
.colPNumb{
    max-width: 100px;
    min-width:100px;
    width:100px;
}
.colDate{
    max-width: 90px;
    min-width:90px;
    width:90px;
}

.colType{
    max-width: 120px;
    min-width:120px;
    width:120px;
}
.col4 {
    max-width: 660px;
    min-width: 660px;
    width: 660px;
}

/*.colAtrnr{*/
    /*max-width: 50px;*/
    /*min-width:50px;*/
    /*width:50px;*/
/*}*/

.table-loading-account{
    margin:-10px;
    font-size:18px;
}

.table-loading-account>table>thead{
    display: inline-block;
    width: 100%;
}

.table-loading-account>table>tbody{
    font-size:16px;
    width: 100%;
    max-height: 450px;
    overflow: auto;
    display: inline-block;
}

/*HIDDEN DIV*/
#warehousesAssociated, #trucksAssociated{
    display: none;
}

