

.panel-palletsaccounts-details{
    font-size:18px;
}

.info-palletsaccounts{
    font-size:16px;
    vertical-align: middle;
}

/*PANELS*/

.panel-palletsaccounts{
    width:500px;
    padding:0px;
}

.panel-palletsaccounts>.panel-heading, .panel-palletsaccounts-details>.panel-heading{
    padding:5px;
}

.panel-palletsaccounts-details{
    width:600px;
    padding:0px;
    margin-left: 60px;
}

/*TABLE*/

.table-palletsaccounts{
    margin:-10px;
    font-size:18px;
}

.table-palletsaccounts>table>thead{
    display: inline-block;
    width: 100%;
}

.table-palletsaccounts>table>tbody{
     font-size:16px;
    width: 100%;
    max-height: 450px;
    overflow: auto;
    display: inline-block;
 }

.colName{
    min-width:312px;
    max-width: 312px;
}
.colType{
    min-width:96px;
    max-width:96px;
}
.colTot{
    min-width:408px;
    max-width:408px;
}

.colTotal{
    min-width:60px;
    max-width:60px;
}

.table-palletsNumber tr>th{
    width:30%;
}

.col1{
    max-width: 90px;
    min-width:90px;
    width:90px;
}
.col2{
    max-width: 100px;
    min-width:100px;
    width:100px;
}
.col3{
    max-width: 110px;
    min-width:110px;
    width:110px;
}

.col4 {
    max-width: 625px;
    min-width: 625px;
    width: 625px;
}

.table-loading-account{
    margin:-10px;
    font-size:18px;
}

.table-loading-account>table>thead{
    display: inline-block;
    width: 100%;
}

.table-loading-account>table>tbody{
    font-size:16px;
    width: 100%;
    max-height: 450px;
    overflow: auto;
    display: inline-block;
}


