.colID{
    max-width: 20px;
}

.modalHeaderTransfer>h4{
    font-size:20px;
    color:rgb(0, 160, 0);
    font-weight: bold;
}

.modalBodyTransfer{
    font-size:16px;
}

.table-transfers>table>tbody>tr>td{
    font-size:16px;
}


.col1 {
    position: absolute;
    overflow: hidden;
    z-index: 99;
    background-color: white;
    max-width:60px;
    min-width: 60px;
    width:60px;
    top: auto;
}
.col1b{
    max-width:60px;
    min-width: 60px;
    width:60px;
}

.colHeight{
    min-height:41px;
    height: 41px;
    max-height: 41px;
}

.colHeightTitle{
    min-height:67px;
    height: 67px;
    max-height: 67px;
}

 .col2 {
    max-width:85px;
    min-width: 85px;
    width:85px;
}

 .col5{
     max-width:60px;
     min-width: 60px;
     width:60px;
 }
.col6{
    max-width:90px;
    min-width: 90px;
    width:90px;
}

.col8{
    max-width:65px;
    min-width: 65px;
    width:65px;
}

.col3{
    max-width:100px;
    min-width: 100px;
    width:100px;
}

.col4{
    max-width:320px;
    min-width: 320px;
    width:320px;
}

.col7{
    max-width:180px;
    min-width: 180px;
    width:180px;
}
.colDanger{
    min-width:120px;
}

#loading_atrnrLink, #creditAccount1, #creditAccount2, #debitAccount2, #debitAccount1, #deposit-withdrawal1, #deposit-withdrawal2, #DW, #withdrawal-deposit1, #withdrawal-deposit2{
    display:none;
}
