/*PANEL CARRIERS*/

.panel-trucks>.panel-heading{
    padding:5px;
}

/*TABLE*/

.colID{
    min-width:55px;
    width:55px;
    max-width:55px;
}

.colName{
    width:570px;
    min-width:570px;
    max-width:570px;
}

.colLicense{
    min-width:230px;
    width:230px;
    max-width:230px;

}
.colNumber, .colType, .colAtrnr{
    min-width:130px;
    width:130px;
    max-width:130px;
}
.colDate{
    max-width: 90px;
    min-width:90px;
    width:90px;
}

.table-trucks>tbody{
    font-size:16px;
}

.addTransfer{
    margin-top:5px;
}