/*PANEL CARRIERS*/

.panel-trucks>.panel-heading{
    padding:5px;
}

/*TABLE*/

.colID{
    min-width:65px;
    width:65px;
    max-width:65px;
}

.colName{
    width:540px;
    min-width:540px;
    max-width:540px;
}

.colLicense{
    min-width:170px;
    width:170px;
    max-width:170px;

}
.colNumber{
    min-width:100px;
    width:100px;
    max-width:100px;
}
.colDate{
    max-width: 90px;
    min-width:90px;
    width:90px;
}
.colDanger{
    max-width: 90px;
    min-width:90px;
    width:90px;
}

.table-trucks>tbody{
    font-size:16px;
}
.table-trucks>tbody>tr>td{
    padding:5px;
}

/*DETAILS TRUCK*/
.addTransfer{
    margin-top:5px;
}

.table-truck{
    font-size:16px;
}


/*.table-transfers>table>tbody>tr>td{*/
    /*font-size:16px;*/
/*}*/

.table-transfers>table>thead{
    display: inline-block;
    width: 100%;
    font-size:18px;
}

.table-transfers>table>tbody{
    font-size:16px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    display: inline-block;
}

.table-transfers{
    width:776px;
    margin-left:150px;
}


.colType{
    max-width: 220px;
    min-width:220px;
    width:220px;
}

.colAtrnr{
    max-width: 190px;
    min-width:190px;
    width:190px;
}

.colDanger2{
    max-width: 80px;
    min-width:80px;
    width:80px;
}